h1 {
  color: white;
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 10px;
  }
}

@media screen and (max-width: 720px) {
  .text {
    font-size: 5px;
  }
}
