.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advice-button,
.save-favorites-button {
  color: white;
  text-decoration: none;
  border: solid;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.advice-button:hover {
  transition: 2000ms;
	transform: translateY(10%);
	background-color: #d1495b;
	color: #white;
	border-color: #d1495b;
}

.save-favorites-button:hover {
  transition: 2000ms;
	transform: translateY(10%);
	background-color: #4d194d;
	color: #white;
	border-color: #4d194d;
}

.single-advice-container {
  margin-bottom: 12em;
}

.single-advice {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
