/* .card-container {
  display: flex;
  flex-direction: column;
}

.card {
  box-sizing: border-box; */
  /* border: 3px solid #ffe8d6; */
  /* padding: 30px;
  margin: 70px;
  color: white;
  background-color: #ddbea9;
} */

/* .save-favorites-button {
  height: 5vw;
  width: 10vw;
  margin-left: 45%;
  background-color: #ffe8d6;
  border: none;
  border-radius: 50px;
} */

/* .advice-button {
  height: 5vw;
  width: 10vw;
  margin-left: 46%;
  background-color: #a5a58d;
  border: none;
  border-radius: 50px;
  color: white;
} */

/* .single-advice {
  font-family: 'Anton', sans-serif;
  margin-left: 31vw;
  background-color: white;
} */

.card {
  /* border: solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .advice-button, .save-favorites-button {
  margin: 5px;
    width: 92px;
    height: 40px;
    box-shadow: 5px 5px 5px #4a4e69;
    border-radius: 15px;
    font-size: 10px;
    background-color: transparent;
    color: white;
} */

.advice-button,
.save-favorites-button {
  color: white;
  text-decoration: none;
  border: solid;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.advice-button:hover,
.save-favorites-button:hover {
  transition: 2000ms;
	transform: translateY(10%);
	background-color: #d1495b;
	color: #white;
	border-color: #d1495b;
}

.single-advice-container {
  margin-bottom: 12em;
}

.single-advice {
  color: white;
  /* padding: 40px; */
  font-size: 20px;
  /* background-color: #ecf8f8;
  opacity: 0.5em; */
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
